[*.cs]
# Formatting
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Enable all rules by default.
dotnet_analyzer_diagnostic.severity = warning

# File-scoped namespaces are preffered.
csharp_style_namespace_declarations = file_scoped:warning

# Use var where it's appropriate.
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning

# Disable .Net rules.
csharp_style_unused_value_expression_statement_preference = none
dotnet_diagnostic.IDE0270.severity = none

# Disable .Net style rules.
dotnet_diagnostic.CA1812.severity = none

# Disable StyleCop rules.
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA0160.severity = none
dotnet_diagnostic.SA1133.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1402.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1633.severity = none
